body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

.TodoCounter {
    font-size: 24px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
}

.TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }

  .TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  }

  .CreateTodoButton {
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
  
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
  }
  
  .CreateTodoButton:hover {
    transform: rotate(224deg);
  }

  .ModalBackground {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .ModalBackground .content {
    background-color: #F9FBFC;
    color: #000;
  }

  form {
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1E1E1F;
    margin-bottom: 26px;
  }
  
  textarea {
    background-color: #F9FBFC;
    border: 2px solid #202329;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
  }
  
  textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  textarea:focus {
    outline-color: #61DAFA;
  }
  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
  }
  
  .TodoForm-button--add {
    background: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  }
  
  .TodoForm-button--cancel {
    background: transparent;
  }